.call-window {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	z-index: -1;
	@include transition(opacity 0.5s);
	@include bg-gradient(top, #074055 0%, #030D10 100%);
	
	&.active {
		z-index: auto;
		opacity: 1;
		
		.video-control {
			z-index: auto;
		}
	}
	
	video {
		position: absolute;
	}
	
	#localVideo {
		bottom: 0;
		right: 0;
		width: 20%;
		height: 20%;
	}
	
	#peerVideo {
		width: 100%;
		height: 100%;
	}
}

.video-control {
	position: absolute;
	bottom: 20px;
	height: 72px;
	width: 100%;
	opacity: 0;
	@include transition(opacity 0.5s);
	text-align: center;
	z-index: -1;
	
	&:hover {
		opacity: 1;
	}
	
	.btn-action {
		$height: 50px;
		height: $height;
		width: $height;
		line-height: $height;
		margin: 0px 8px;
		font-size: 1.4em;
		text-align: center;
		border-radius: 50%;
		cursor: pointer;
		transition-duration: 0.25s;
		
		&:hover {
			opacity: 0.8;	
		}
		
		&.hangup {
			background-color: $red;
			@include transform(rotate(135deg));
		}
		
		&:not(.hangup) {
			background-color: $blue;
			
			&.disable {
				background-color: $red;
			}
		}
	}
}