@import "mixin";

html, body {
	height:100%;
	background-color:$main-color;
	color:$secondary-color;
	font-size: $main-font-size;
	font-family: "Open Sans", "Ubuntu", sans-serif;
	letter-spacing: 0.5px;
	
	.no-animation {
		* {
			@include no-animation();
		}
	}
}

@import "misc";